{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clean Blog - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'gpa/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'gpa/vendor/fontawesome-free/css/all.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static 'vendor/fontawesome-free/css/all.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'gpa/css/clean-blog.css' %}" rel="stylesheet">
  <style>
  nav{
    background-color: rgba(0, 0, 0, 0.5);
  }
  nav div a{
    color: black
  }
  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="../">iJobs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="navbar-brand" href="tips.html">Career Tips</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://source.unsplash.com/yjcrVIGAw9A')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>How does GPA affect your job searching?</h1>
            <h2 class="subheading"></h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p><strong>RECENTLY GRADUATED FROM Harvard with a 4.0 GPA</strong>, have a great personality and well-connected parents? Good news: You just bought yourself at least 10 extra minutes because you don't need to read the rest of this blog post. For the rest of the current college students and recent graduates who do not meet that standard, here are some things you need to know about how employers view your GPA.</p>
          <p>GPA matters (sometimes). Most professionals who did well in college tend to regard a strong GPA as an indicator that a potential employee can handle pressure, learns quickly and is motivated to succeed. The theory is that college has been the greatest challenge faced by those younger than 22, so success there is the only significant experience that has a correlation to success in the professional world. Additionally, earning a college degree is an exercise in delayed gratification. A student must exert effort for four to six years before receiving a degree. Students with higher GPAs have demonstrated that they can maintain a high level of focus and results over that time before they receive their payoff. This journey mirrors the one most employers hope new hires will experience. Employees who have evidence of prolonged focus, effort and patience while achieving a long-term goal are often good bets when hiring.</p>

          <p>While the merits of this line of thinking may be debatable, it is more likely that the company or manager who values a high GPA will stick to that philosophy.</p>

          <p>Some highly competitive roles or very desirable employers use GPA standards as a way to cut down the list of potential employees to consider. Since the percentage of graduates who complete school with a 3.5 (for example) or higher is quite small, requiring a 3.5 or higher is an effective way to tighten the applicant pool immediately. While there are a few employers or select employment programs that target GPAs of 3.5, most companies that have a GPA requirement target 3.0 or 3.3 and higher. These requirements still limit the applicant pool, but clearly are more inclusive.</p>

          <p>The good news is that for most managers or companies, GPA is not a deal-killer. The majority of hiring authorities are satisfied with your achievement of a college degree. Many successful entrepreneurs didn't complete college and did not enjoy or excel at learning in a classroom environment. Other executives may value the "school of life" more highly than an academically rigorous college experience. If you are interviewing with one of these types of managers, your focus should be on communicating how you have solved problems, been responsible, worked hard and succeeded in the face of life's challenges.</p>

          <a href="#">
            <img class="img-fluid" src="https://source.unsplash.com/RYyr-k3Ysqg">
          </a>

          <p>If you are targeting a job where your GPA is a selection criterion, how do you address a less-than-desirable one? First, look at your transcript to see the story it tells. While numbers are not the whole picture, employers who ask about your GPA may also require a copy of your transcript. It is best to approach any issues head-on. For example, many students really enjoy their first year of college. If you were one of these students who didn't get a clue until mid-sophomore year that you are actually supposed to go inside the classroom if you want better grades, your transcript likely shows an improvement in performance year over year. If this is the case, you can calculate your GPA after you made the "change" and be prepared to share in an interview that while you take ownership of your GPA, the results from your last six semesters are better evidence of your academic potential.</p>

          <p>A second issue frequently faced is a lack of interest in required courses versus selected courses or the ones in your chosen field of study. Most people realize that when you are not interested in the subject matter, you often perform worse in recall and testing. If your transcript shows that your general education classes have a C average, but you received all A's and B's in your major, be sure to communicate that.</p>

          <p>Also, if you experienced a significant life event or have a learning disability that may have affected your performance in class, that may be helpful to share as well. Enduring those challenges demonstrates that you have the tenacity, drive and persistence to make it to the finish line in school and in life, even when the obstacles are high. Of course, if you just did not do well in school, you will need to be prepared to discuss why results at work will be different. It is helpful to include other activities, involvement or interests you may have had concurrent to taking classes.</p>

          <p>Once you graduate, you cannot go back and change your GPA. However, your ability to put the numbers in context will go a long way with those employers who value GPA but do not use it as a deal-breaker when hiring. And be sure to come to your interviews prepared. Thoroughly research the employer and know how you can make a significant impact in the role. Those job seekers who understand and can clearly communicate their value in the workplace do better in the selection process. You are not being hired for your past, so make sure to show that your future is promising.</p>


      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://twitter.com/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; iJobs 2019</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'gpa/vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'gpa/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'gpa/js/clean-blog.js' %}"></script>

</body>

</html>
