{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clean Blog - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'gpa/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'gpa/vendor/fontawesome-free/css/all.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static 'vendor/fontawesome-free/css/all.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'gpa/css/clean-blog.css' %}" rel="stylesheet">
  <style>
  nav{
    background-color: rgba(0, 0, 0, 0.5);
  }
  nav div a{
    color: black
  }
  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="../">iJobs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="navbar-brand" href="tips.html">Career Tips</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://source.unsplash.com/gCUOkv04kbI')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>What is the best way to improve programming skills?</h1>
            <h2 class="subheading"></h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p><strong>​IN THE DIGITAL AGE,</strong> learning coding skills is becoming a great way to change career paths or boost your resume, experts say.</p>
          <p>As technology advances, coding classes online are growing tremendously in popularity, whether it's free and low-cost programs or computer programming certificates and full degree options offered through colleges and universities.</p>

          <p>"More and more businesses – whether it's journalism, law or container shipping – are being upended by technology," says Zach Sims, CEO and co-founder of Codecademy​, an online platform that offers free coding classes. "By understanding coding you are able to understand those changes and contribute to that sequence of changes."</p>

          <p>According to the Bureau of Labor Statistics, by 2020, 1.4 million new computing jobs will exist in the U.S., but so will only 400,000 computer science students.</p>

          <p>"There's a need for that and a trend toward training in that area," says Dara Warn, chief product and strategy officer at Penn Foster, which offers a certificate in computer programming languages. "Coding is a creative outlet for people who are more technically inclined."</p>

          <p> It's crucial to choose the right type of coding class to meet your specific needs. </p>

          <p><strong> • Free online courses:</strong> As coding becomes more relevant to different career paths in the 21st century, free online coding classes have become ubiquitous. Many free online classes are excellent for beginners looking to gain basic skills that could benefit their career or propel them into more advanced learning, experts say.</p>

          <p>The website Code.org, for instance, enables users of all ages to learn basic computer science skills by playing instructional games. There are also numerous massive open online courses, or MOOCs, that provide instruction on learning basic computer programming skills, offered on sites such as Khan Academy.</p>

          <p>Codecademy's self-paced online classes enable students to learn the forms of coding of their choice, from building an interactive website to gaining knowledge of Ruby on Rails.</p>

          <p>"What's happening is they are doing it on the weekends and picking up new skills for the existing job they already have," Sims says.</p>

          <p>For some, free coding classes can serve as a starting point for a more drastic career change. Will Ha of Los Angeles is currently a software developer, but a few years ago he was practicing law. He first turned to Codecademy to learn the fundamentals of coding before transitioning to other tutorials that were more targeted to his specific career goals.</p>

          <p> "The commitment was low; there were no in-person classes to get started," the 32-year-old says of Codecademy. "There weren't too many hurdles."</p>

          <p>In another form of free online courses, the Massachusetts Institute of Technology's OpenCourseWare online platform publishes teaching materials, assignments, videos and exams from real classes at the school for use in self-paced learning,</p>

          <p>"You can also grab just the specific topics you need whenever you need them, in whatever order suits you, and return to it anytime you need to," Curt Newton, site curator and publication manager for MIT OpenCourseWare, said via email.</p>

          <a href="#">
            <img class="img-fluid" src="https://source.unsplash.com/tZnbakTUcTI">
          </a>

          <p><strong>• Programs that cost:</strong> Those programs that come with a price tag often involve more interaction with an instructor and teach more advanced skills than their free counterparts.</p>

          <p>Many programs begin with introductory classes for free and then require payment moving forward. The website Skillcrush, for instance, offers a free 10-day boot camp. Its three-month "career blueprint" classes – which focus on more career-specific skills – require three monthly payments of $149 or one payment of $399, however. The "blueprint" classes include forums with other students and one-on-time time and office hours with an instructor, for example.</p>

          <p>Meanwhile, with the website Code School, users receive access to 10 introductory classes, and then with a paid subscription of $29 per month or $290 per year are granted access to all of its course and screencasts. Code School's classes consist of instructional videos and exercises in which users earn points and badges.</p>

          <p>"They can digest new information quickly without feeling overwhelmed by a certificate or degree program," says Nicholas Roberts, a spokesman for the company.</p>

          <a href="#">
            <img class="img-fluid" src="https://source.unsplash.com/fFRG_YEaOuE">
          </a>

          <p><strong>• Certificate and degree programs:</strong> "There's some value in it for the learner to go through the curriculum that experts have pre-defined and are meant to prepare you for a job in the field," Warn says.</p>

          <p> At Colorado Technical University, students can earn an online bachelor's degree in information technology with a specialization in software application programming for a total of $59,800, if completed solely online.</p>

          <p>Additionally, at North Carolina State University—Raleigh, students can earn an undergraduate certificate with nonresident tuition of $11,613.21.</p>

          <p>Some options offered through institutions are cheaper. The online Penn Foster Career School's self-paced computer programming languages certificate program – which can be completed in as little as four months – costs $459 if a student pays in full.</p>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://twitter.com/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; iJobs 2019</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'gpa/vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'gpa/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'gpa/js/clean-blog.js' %}"></script>

</body>

</html>
