{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clean Blog - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'gpa/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'gpa/vendor/fontawesome-free/css/all.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static 'vendor/fontawesome-free/css/all.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'gpa/css/clean-blog.css' %}" rel="stylesheet">
  <style>
  nav{
    background-color: rgba(0, 0, 0, 0.5);
  }
  nav div a{
    color: black
  }
  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="../">iJobs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="navbar-brand" href="tips.html">Career Tips</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://source.unsplash.com/UO-QYR28hS0')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Do you know the difference between a Resume and a CV?</h1>
            <h2 class="subheading"></h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p><strong>TO CV OR NOT TO CV?</strong>That is the question … well, at least it is for some. If you are pursuing a career in academia, science or possibly a role abroad, knowing the what, when, why and how of a Curriculum Vitae can be essential. Here are some tips to compose an effective CV.</p>
          <p><strong>What is a CV?</strong> A CV is an overview of a person's experience and academic background for the use in a job application. The CV captures your professional and educational credentials and history in a chronological order. It is reviewed by a hiring authority as an initial step in the hiring process to determine if someone's background merits an interview.</p>

          <p><strong>Why use a CV and how does it compare to a resume?</strong> Andrei Kurtuy, a resume and CV writing expert, identified a key difference in a blog he authored in February as "static versus dynamic content." A resume should be customized to each role and displays qualifications that are of interest based on a specific role. It should be similar to a marketing document that communicates value related to a specific audience. A CV, on the other hand, is static. It is a historical document that consistently reflects the same background regardless of the role.</p>

          <p>Here are some additional ways the two documents differ: Work experience in a CV is typically listed in chronological order while resumes are usually in reverse chronological order. The goal of a CV is to show a comprehensive, detailed progression; a resume emphasizes relevant experience done most recently. CVs do not face the same pressure to be one to two pages. They are comprehensive documents that use as much room as is needed to properly cover your background. Finally, resumes err a bit more on the stylized side these days with color and other formatting tactics to add visual interest. CVs, on the other hand, do not require the same emphasis on creative styling or formatting. They should be easy to read, well-organized and well-written.</p>

          <p><strong>When do I use a CV and when do I use a resume?</strong> A CV is the brand standard for many international roles. If you are looking to apply for a position abroad, chances are the request will be for a CV. Domestically, careers in academia or higher education and sciences often ask for a CV. Frequently, a job application will request one or the other. If you are uncertain, it is always OK to ask what is preferred.</p>

          <a href="#">
            <img class="img-fluid" src="https://source.unsplash.com/omeaHbEFlN4">
          </a>

          <p><strong>How do I create a CV?</strong> Gather details of your education, academic achievements, research, publications, awards, affiliations and employment history. You begin the document with contact information and follow with academic credentials – starting with highest level degree earned first. Next, list your research and work experience in chronological order (unless directed to list differently). Other qualifications to include are skills, training, research, dissertations, teaching experience, publications, presentations/speaking engagements, grants, fellowships, awards and honors. You should also add any professional licenses, certifications or memberships.</p>

          <p>Remember that a CV is professional correspondence, so it merits meticulous editing and review. Be sure to use proper grammar, punctuation, formatting and pay close attention to consistency in layout and style. The use of bullet points versus complete sentences and paragraphs can be very effective in managing attention and minimizing extra content. You can also create an addendum to support very long lists of publications, speaking engagements or awards if needed.</p>

          <p>It is also important to avoid including any prohibited information based on the hiring laws in the geography where you are applying. For example, omit age, ethnicity, marital or family status and salary information for any roles in the United States. Also, reserve names and contact information of references for when it is requested. There is no need to include references on your CV.</p>

          <p>In summary, a well-written CV gives a comprehensive overview of how your background and qualifications make you an ideal candidate for a role. To write a good one, first gather and organize all relevant materials. Next, create a well-written, well-edited document with an easy-to-read format. And finally, submit your CV on a timely basis and possibly through a referral to get the process started for your next role in higher education, scientific research or abroad.</p>


      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://twitter.com/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; iJobs 2019</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'gpa/vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'gpa/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'gpa/js/clean-blog.js' %}"></script>

</body>

</html>
