.browser_drivers
.vscode
loggings
test.py
tests.py

# do not include any python package
venv

# do not include any idea config file
.idea

# do not include any python complile file
__pycache__/

# do not include any migrations in the future
migrations
