{% extends "jobsite/jobsite_base.html" %}
{% load static %}

{% block title %}top{% endblock %}

{% block customer_style_links %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'Career/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="{% static 'Career/vendor/fontawesome-free/css/all.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="{% static 'Career/css/agency.css' %}" rel="stylesheet">
{% endblock %}

{% block in_page_additional_css %}
    <style>
        header {
            text-align: center;
            color: white;
            background-image: url("https://source.unsplash.com/tk9RQCq5eQo") !important;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center center;
            background-size: cover;
        }

        header div div div {
            color: white;
        }
    </style>

{% endblock %}
{% block customer_body_content %}
    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><strong>Here are the top companies recommended for you!</strong></div>
                <!-- <div class="intro-heading text-uppercase">It's Nice To Meet You</div> -->
                <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#portfolio">Let's Begin</a> -->
            </div>
        </div>
    </header>
    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Explore Companies</h2>
                    <hr class="star-dark mb-5"></hr>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="https://wallpapercave.com/wp/jLw8Rbf.jpg" alt=""
                             style="height: 200px; width: 360px;">
                        <div class="portfolio-caption">
                            <h4>Software Developer</h4>
                            <p class="text-muted">
                                Apple
                            </p>
                            <p class="text-muted">
                                Los Angelas, CA
                            </p>
                        </div>
                    </a>

                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid"
                             src="https://wallpaperstream.com/wallpapers/full/brand-logo/Amazon-Brand-Logo-and-Black-Background.jpg"
                             alt="">
                        <div class="portfolio-caption">
                            <h4>Data Analyst</h4>
                            <p class="text-muted"> Amazon</p>
                            <p class="text-muted"> Seattle, Washington</p>
                        </div>
                    </a>

                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="http://wallpapersdsc.net/wp-content/uploads/2015/10/Facebook_14.jpg"
                             alt="">
                        <div class="portfolio-caption">
                            <h4>Web Developer</h4>
                            <p class="text-muted">Facebook</p>
                            <p class="text-muted">Menlo Park, CA</p>
                        </div>
                    </a>

                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid"
                             src="https://flipwallpapers.com/wallpapers/google-hd-wallpapers-For-desktop-Wallpaper.jpg"
                             alt="">
                        <div class="portfolio-caption">
                            <h4>Scaled Sales Manager</h4>
                            <p class="text-muted">Google</p>
                            <p class="text-muted">Phoenix, AZ</p>
                        </div>
                    </a>

                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid"
                             src="https://wallup.net/wp-content/uploads/2017/11/22/379832-logo-brands-Dell-minimalism.jpg"
                             alt="">
                        <div class="portfolio-caption">
                            <h4>Web Developer</h4>
                            <p class="text-muted">Dell</p>
                            <p class="text-muted">Chesterbrook, Pennsylvania</p>
                        </div>
                    </a>

                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="https://images4.alphacoders.com/588/thumb-1920-588108.png" alt="">
                        <div class="portfolio-caption">
                            <h4>Data Scientist</h4>
                            <p class="text-muted">Samsung</p>
                            <p class="text-muted">Seoul, South Korea</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; iJobs 2019</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <img class="img-fluid d-block mx-auto"
                                     src="https://wallpapercave.com/wp/jLw8Rbf.jpg" style="height: 270px; width: 400px;"
                                     alt="">
                                <h2 class="text-uppercase">Software Developer</h2>
                                <p class="item-intro text-muted">
                                    Location:Los Angelas, CA
                                </p>
                                <p class="item-intro text-muted">
                                    Industry: IT
                                </p>
                                <p class="item-intro text-muted">
                                    Company Name:Apple
                                </p>

                                <p>Apple Inc. is an American multinational technology company headquartered in
                                    Cupertino, California, that designs, develops, and sells consumer electronics,
                                    computer software, and online services. It is considered one of the Big Four of
                                    technology along with Amazon, Google, and Facebook.
                                </p>
                                <p>
                                    The company's hardware products include the iPhone smartphone, the iPad tablet
                                    computer, the Mac personal computer, the iPod portable media player, the Apple Watch
                                    smartwatch, the Apple TV digital media player, and the HomePod smart speaker.
                                    Apple's software includes the macOS and iOS operating systems, the iTunes media
                                    player, the Safari web browser, and the iLife and iWork creativity and productivity
                                    suites, as well as professional applications like Final Cut Pro, Logic Pro, and
                                    Xcode. Its online services include the iTunes Store, the iOS App Store, Mac App
                                    Store, Apple Music, Apple TV+, iMessage, and iCloud. Other services include Apple
                                    Store, Genius Bar, AppleCare, Apple Pay, Apple Pay Cash, and Apple Card.</p>
                                {#                                <ul class="list-inline">#}
                                {#                                    <li>Date: January 2017</li>#}
                                {#                                    <li>Client: Threads</li>#}
                                {#                                    <li>Category: Illustration</li>#}
                                {#                                </ul>#}
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->

                                <img class="img-fluid d-block mx-auto"
                                     src="https://wallpaperstream.com/wallpapers/full/brand-logo/Amazon-Brand-Logo-and-Black-Background.jpg"
                                     style="height: 270px; width: 400px;"
                                     alt="">
                                <h2 class="text-uppercase">Data Analyst</h2>
                                <p class="item-intro text-muted">
                                    Location:Seattle, Washington
                                </p>
                                <p class="item-intro text-muted">
                                    Industry: IT
                                </p>
                                <p class="item-intro text-muted">
                                    Company Name:Amazon
                                </p>
                                <p>Amazon is the largest e-commerce marketplace and cloud computing platform in the
                                    world as measured by revenue and market capitalization.Amazon.com was founded by
                                    Jeff Bezos on July 5, 1994, and started as an online bookstore but later diversified
                                    to sell video downloads/streaming, MP3 downloads/streaming, audiobook
                                    downloads/streaming, software, video games, electronics, apparel, furniture, food,
                                    toys, and jewelry. The company also owns a publishing arm, Amazon Publishing, a film
                                    and television studio, Amazon Studios, produces consumer electronics lines including
                                    Kindle e-readers, Fire tablets, Fire TV, and Echo devices, and is the world's
                                    largest provider of cloud infrastructure services (IaaS and PaaS) through its AWS
                                    subsidiary.Amazon has separate retail websites for some countries and also offers
                                    international shipping of some of its products to certain other countries.100
                                    million people subscribe to Amazon Prime.</p>

                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->

                                <img class="img-fluid d-block mx-auto"
                                     src="http://wallpapersdsc.net/wp-content/uploads/2015/10/Facebook_14.jpg"
                                     style="height: 270px; width: 400px;"
                                     alt="">
                                <h2 class="text-uppercase">Software Developer</h2>
                                <p class="item-intro text-muted">
                                    Location:Menlok Park, CA
                                </p>
                                <p class="item-intro text-muted">
                                    Industry: IT
                                </p>
                                <p class="item-intro text-muted">
                                    Company Name:Facebook
                                </p>
                                <p>Facebook, Inc. is an American online social media and social networking service
                                    company. It is based in Menlo Park, California. It was founded by Mark Zuckerberg,
                                    along with fellow Harvard College students and roommates Eduardo Saverin, Andrew
                                    McCollum, Dustin Moskovitz and Chris Hughes. It is considered one of the Big Four
                                    technology companies along with Amazon, Apple, and Google.</p>

                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <img class="img-fluid d-block mx-auto"
                                     src="https://flipwallpapers.com/wallpapers/google-hd-wallpapers-For-desktop-Wallpaper.jpg"
                                     style="height: 270px; width: 400px;"
                                     alt="">
                                <h2 class="text-uppercase">Scaled Sales Manager</h2>
                                <p class="item-intro text-muted">
                                    Location:Phoenix, AZ
                                </p>
                                <p class="item-intro text-muted">
                                    Industry: IT
                                </p>
                                <p class="item-intro text-muted">
                                    Company Name:Google
                                </p>
                                <p>Google LLC is an American multinational technology company that specializes in
                                    Internet-related services and products, which include online advertising
                                    technologies, search engine, cloud computing, software, and hardware. It is
                                    considered one of the Big Four technology companies, alongside Amazon, Apple and
                                    Facebook.</p>

                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <img class="img-fluid d-block mx-auto"
                                     src="https://wallup.net/wp-content/uploads/2017/11/22/379832-logo-brands-Dell-minimalism.jpg"
                                     style="height: 270px; width: 400px;"
                                     alt="">
                                <h2 class="text-uppercase">Software Developer</h2>
                                <p class="item-intro text-muted">
                                    Location:ChesterBrook, Pennsylvania
                                </p>
                                <p class="item-intro text-muted">
                                    Industry: IT
                                </p>
                                <p class="item-intro text-muted">
                                    Company Name:Dell
                                </p>
                                <p>Dell is an American multinational computer technology company based in Round Rock,
                                    Texas, United States, that develops, sells, repairs, and supports computers and
                                    related products and services. Named after its founder, Michael Dell, the company is
                                    one of the largest technological corporations in the world, employing more than
                                    145,000 people in the U.S. and around the world (Annual report 2018).</p>

                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->

                                <img class="img-fluid d-block mx-auto"
                                     src="https://images4.alphacoders.com/588/thumb-1920-588108.png"
                                     style="height: 270px; width: 400px;"
                                     alt="">
                                <h2 class="text-uppercase">Software Developer</h2>
                                <p class="item-intro text-muted">
                                    Location:Seoul, South Korea
                                </p>
                                <p class="item-intro text-muted">
                                    Industry: IT
                                </p>
                                <p class="item-intro text-muted">
                                    Company Name:Samsung
                                </p>
                                <p>Samsung is a South Korean multinational conglomerate headquartered in Samsung Town,
                                    Seoul. It comprises numerous affiliated businesses, most of them united under the
                                    Samsung brand, and is the largest South Korean chaebol (business conglomerate).</p>

                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customer_js_links %}
    <!-- Plugin JavaScript -->
    <script src="{% static 'Career/vendor/jquery-easing/jquery.easing.js' %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'Career/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'Career/js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'Career/js/agency.js' %}"></script>
{% endblock %}
