{% extends "jobs/job_base.html" %}
{% block content %}
    {% if jobs|length > 0 %}
        {% for p in jobs %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="{% url 'job-detail' p.id %}">{{ p.author }}</a>
                  <small class="text-muted">{{ p.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'job-detail' p.id %}">{{ p.title }}</a></h2>
                <p class="article-content">{{ p.job_title }}</p>
              </div>
            </article>
        {% endfor %}
    {% else %}
        <h4>Your job list is currently empty. Go and post a job!</h4>
    {% endif %}
{% endblock content %}